@charset "utf-8";

body {
    background-color: #d6f6ff;
    font-family: a-otf-ryumin-pr6n,
        serif;
    font-weight: 300;
    font-style: normal;
}

ul {
    list-style-type: none;
}

header {
    padding: 10px;
}

main {
    margin: 10px 60px;
    padding-top: 5px ;
    background-color: #fff;
}

main p{
    line-height: 2;
}

.site_title {
    background-color: #9ACD32;
    width: 350px;
    height: auto;
    border-radius: 45px;
    margin: 40px auto;
    margin-top: 0;
    padding: 5px;
    color: white;
    font-family: wanpaku-ruika,
        sans-serif;
    font-weight: 100;
    text-align: center;
}

h2 {
    background-color: green;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 60%;
    margin: 35px auto;
    padding: 5px;
}


@media (max-width:640px) {
    h2 {
        width: auto;
    }
}

h3 {
    margin: 10px auto;
    border-bottom: 1px solid red;
    width: auto;
}

h4{
    background-color: yellowgreen;
    text-align: center;
    color: white;
    padding: 3px;
    width: 80%;
    margin: 10px auto;
    border-radius:40px  
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: #9ACD32;
  border-radius: 45px;
  padding: 5px;
}

nav a:hover {
  background-color: #9A9D32;
}

a{
    text-decoration: none;
    color: white;
}

input,textarea{
    border:1px solid black;
}

.link{
    background-color: royalblue;
    border-radius:45px;
    padding: 0 5px;
    margin: auto 10px;
    display: inline-block;
}

@media screen and (max-width: 650px) {
    .link {
            padding: 30px 20px;
    }
}

footer{
    background-color: #fff;
    text-align: center;
}

thxMessage{
    display:none
}
